#side-nav {
    background: #30343F;
    min-width: 250px;
    max-width: 250px;
    color: #fff;
    padding-left: 10px;
}

.container {
    min-height: 100vh;
    width: 100%;
    overflow: scroll;
    padding: 10px;
}

input[type="number"]:disabled {
    background: #aaa;
}